@import '../../variables.modules.scss';

//mobile
.LandingPage {
    padding: 50px 25px 50px 25px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: url(#tablet-or-mobile);
    background-image: url(../../images/pokebowl.png);
    background-repeat: no-repeat;
    background-position: left -20vw top 50vh;
    background-size: 130vw;
    * {
        flex-basis: 0;
        text-align: center;
    }
    h2 {
        display: none;
        font-weight: normal;
        margin: 0;
    }
    h1 {
        margin: 0 0.3em 0.3em 0;
    }
    header {
        flex-grow: 1;
        img {
            max-width: 83vw; //det här är loggan. är det rätt att jag stylar img-tag? picture funkar ej?
        }
    }
    .promotionText {
        flex-grow: 1;
    }
    .arrow {
        height: 50px;
        margin: 16px;
    }
    .arrowContainer {
        flex-grow: 2;
        display: flex;
        align-items: flex-end;
    }
    button {
        text-transform: uppercase;
        margin-bottom: 1em;
    }
}

//tablet
@media (min-width: 480px) and (max-width: 1024px) and (orientation: portrait) {
    .LandingPage {
        background-image: url(../../images/pokebowl1.png), url(../../images/pokebowl.png);
        background-position: left -10vw bottom -5vh, right -5vw bottom -5vh;
        background-size: 60vw, 55vw;
        h2 {
            display: block;
        }
    }
}

//desktop
@media (min-width: 769px) and (orientation: landscape) {
    .LandingPage {
        justify-content: flex-end;
        clip-path: url(#desktop);
        background-image: url(../../images/pokebowl1.png), url(../../images/pokebowl.png);
        background-position: left -10vw bottom -5vh, right -5vw bottom -5vh;
        background-size: auto 50vh, auto 90vh;
        header {
            flex-grow: 3;
            margin-bottom: auto; //this pushes the header to the top of the page
            img {
                max-width: 70vw;
            }
        }
        .promotionText {
            flex-grow: 1;
        }
        h2 {
            display: block;
        }
        .arrowContainer {
            flex-grow: 0.5;
        }
    }
}
