@import '../../variables.modules.scss';

//mobile
.LandingPage {
    padding: 50px 15px 50px 15px;
    min-height: 105vh;
    box-sizing: border-box;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: url(#tablet-or-mobile);
    background-image: url(../../images/pokebowl.png);
    background-repeat: no-repeat;
    background-position: left -20vw top 50vh;
    background-size: 130vw;
    * {
        flex-basis: 0;
        text-align: center;
    }
    p {
        display: none;
        font-weight: normal;
        margin: 0;
    }
    h1 {
        margin: 1em 0 1em 0;
    }
    header {
        flex-grow: 1;
        img {
            max-width: 83vw;
        }
    }
    .promotionText {
        flex-grow: 1;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-60px);
        }
        60% {
            transform: translateY(-40px);
        }
    }
    .arrow {
        animation: bounce 2s ease-in-out infinite;
        height: 50px;
        margin-top: 16px;
    }
    .arrowContainer {
        flex-grow: 2;
        display: flex;
        align-items: flex-end;
    }
    button {
        text-transform: uppercase;
        margin-bottom: 1em;
    }
}

//tablet
@media (min-width: 480px) and (orientation: portrait) {
    .LandingPage {
        background-image: url(../../images/pokebowl1.png),
            url(../../images/pokebowl.png);
        background-position: left -10vw bottom -8vh, right -5vw bottom -8vh;
        background-size: 63vw, 58vw;
        p {
            display: block;
            font-size: $p-sub-heading-tablet;
            color: $secondary;
        }
        .arrow {
            margin-bottom: 4vh;
        }
    }
}

//desktop
@media (min-width: 768px) and (orientation: landscape) {
    .LandingPage {
        min-height: 111vh;
        justify-content: flex-end;
        clip-path: url(#desktop);
        background-image: url(../../images/pokebowl1.png),
            url(../../images/pokebowl.png);
        background-position: left -6vw bottom -4vh, right -3vw bottom -5vh;
        background-size: auto 50vh, auto 90vh;
        header {
            flex-grow: 3;
            margin-bottom: auto; //this pushes the header to the top of the page
            img {
                max-width: 70vw;
            }
        }
        .promotionText {
            flex-grow: 1;
        }
        p {
            display: block;
            font-size: $p-sub-heading-desktop;
            color: $secondary;
        }
        .arrow {
            margin-bottom: 10vh;
        }
        .arrowContainer {
            flex-grow: 0.5;
        }
    }
}
