//color variables
$primary: #e3afb3;

//mobile
.LandingPage {
    min-height: 100vh;
    width: 100%;
    background-color: $primary;
    h2 {
        display: none;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    .arrow {
        display: block;

        animation: bounce 2s ease-in-out infinite;
    }
}

//tablet
@media (min-width: 480px) and (max-width: 768px) {
    .LandingPage {
        h2 {
            display: block;
        }
    }
}

//desktop
@media (min-width: 768px) {
    .LandingPage {
        h2 {
            display: block;
        }
    }
}
