@media (min-width: 768px) {
}
@media (min-width: 480px) and (max-width: 768px) {
}
@media (max-width: 480px) {
    .Menu {
        width: 100vw;
        position: fixed;
        top: 0;

        overflow-y: visible;

        .MenuOpen {
            background-color: rgba(0, 255, 255, 0.315);
            border-bottom-left-radius: 50px;
            text-align: center;

            color: white;
            font-size: 48px;
            font-family: Roboto, sans-serif;

            .MenuHeader {
                text-decoration: underline;
            }

            .MenuItem {
                margin: 32px 0;
                &:hover {
                    color: red;
                }
            }

            .BokaBordBtn {
                background-color: #79d1ca;
                border: none;
                border-radius: 12px;
                padding: 18px 28px 18px 33px;
                font-size: 24px;
                color: white;
                letter-spacing: 5px;
            }

            .MenuLinesOpen {
                width: 100%;
                height: 25px;

                &:hover {
                    .LineOpen1,
                    .LineOpen2 {
                        background-color: red;
                    }
                }
                .LineOpen1,
                .LineOpen2 {
                    width: 50px;
                    height: 5px;
                    position: fixed;
                    top: 25px;
                    right: 5px;
                    background-color: black;
                }

                .LineOpen1 {
                    transform: rotate(45deg);
                }

                .LineOpen2 {
                    transform: rotate(-45deg);
                }
            }
        }

        .MenuClosed {
            display: flex;
            justify-content: flex-end;

            .MenuLinesClosed {
                width: 30px;
                height: 30px;

                .LinesContainerClosed {
                    height: 100%;
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .LineClosed1,
                    .LineClosed2,
                    .LineClosed3 {
                        height: 5px;
                        width: 100%;
                        background-color: black;
                    }
                }
            }
        }
    }
}
