@media (min-width: 768px) {
}
@media (min-width: 480px) and (max-width: 768px) {
}

.Footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: pink;
}
.Adress,
.Hours,
.NewsLetter,
.Logo {
    margin: auto;
}
