@import '../../variables.modules.scss';

//Default for Mobile
.MealWrapper {
    display: flex;
    flex-direction: column;
    min-height: auto;
    width: 100%;
    background: url('../../images/pokequeenwallpaper.svg');
    background-position-y: 140px;
    background-position-x: -240px;
    background-attachment: scroll;

    background-repeat: no-repeat;

    margin-top: -240px;

    .MealwrapparHeader {
        margin-top: 260px;
        text-align: center;
        text-transform: uppercase;
    }
    .MealCardContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        .MealCard1,
        .MealCard2 {
            margin-top: 40px;

            .MealCardPic {
                width: 180px;
                height: 180px;
                clip-path: circle(44%);
                z-index: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .MealCardTextContainer {
                text-align: center;
                .MealCardHeader {
                    margin-top: 0px;
                    margin-bottom: 20px;
                }
                .MealCardText {
                    margin-bottom: 0px;
                    margin-top: 0px;
                    line-height: 20px;
                }
                .MealCardPrice {
                    color: $secondary;
                    font-weight: bold;
                }
            }
        }
    }
}
//Desktop
@media (min-width: 769px) {
    .MealWrapper {
        min-height: auto;
        width: 100%;
        background-color: $white;
        background-size: cover;
        background-position-y: -25px;
        background-position-x: 0px;
        .MealwrapparHeader {
            margin-top: 250px;
        }

        .MealCardContainer {
            display: flex;
            flex-direction: row;
            margin-top: 0px;

            .MealCard1,
            .MealCard2 {
                flex-grow: 1;
                display: flex;
                flex-direction: row;

                .MealCardTextContainer {
                    text-align: left;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
    }
}
//Tablet
@media (min-width: 480px) and (max-width: 768px) {
    .MealWrapper {
        background-position-y: 140px;
        background-position-x: -20px;
        min-height: auto;
        .MealCardContainer {
            .MealCard1 {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                margin-left: 40px;

                .MealCardTextContainer {
                    text-align: left;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            .MealCard2 {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: right;
                margin-right: 40px;

                .MealCardTextContainer {
                    text-align: left;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
    }
}
