//color variables
$primary: #e3afb3;
$secondary: #e34342;
$accent: #79d1ca;
$darkgrey: rgba(0, 0, 0, 0.78);
$grey: #707070;
$lightgrey: #c3c3c3;

$font-family-everywhere: 'Roboto', sans-serif;

$h1-font-size: 96px;
$h1-font-weight: bold;

$h2-font-size: 48px;
$h2-font-weight: bold;
$h2-font-weight-menu: normal;

$h3-font-size: 24px;
$h3-font-weight: bold;

$h4-h5-h6-font-size: 20px;
$h4-h5-h6-font-weight: bold;

$p-font-size: 12px;
$p-font-weight: normal;

$cookie-disclaimer-font-size-desktop: 30px;
$cookie-disclaimer-font-size-tablet: 24px;
$cookie-disclaimer-font-size-mobile: 20px;
